/* style for all pages */
body {
    background-color: #eeeeee;
}
.navbar {
    padding: 35px;
}
.column {
    float: left;
    width: 50%;
}
.sigmaLogo {
    width: 50%;
}

.title { 
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.psiText {
    font-family: "myriad-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sigmaText{
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-style: normal;
}
/* index page styling */
/*.map {
    margin-top: 15px;
    margin-right: 50px;
    height: auto;
}
*/

.iframe-rwd  {
position: relative;
padding-bottom: 56.25%;
padding-top: 10%;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 10;
left: 0;
width: 100%;
height: 100%;
}

/*council page styling*/
.council {
    padding: 35px;
}

.councilText {
    font-size: 20px;
}