/* style for all pages */
body {
    background-color: #eeeeee;
}
.navbar {
    padding: 35px;
}
.column {
    float: left;
    width: 50%;
}
.sigmaLogo {
    width: 50%;
}

.title { 
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* index page styling */
.map {
    margin-top: 15px;
    margin-right: 50px;
}

/*council page styling*/
.council {
    padding: 35px;
}

.councilText {
    font-size: 20px;
}